body {
	background-image: url("possible.jpg");
	background-size: cover;
}
.welcomeText {
	margin: 10vh 0 0 28vw;
	width: 20vw;
}
.welcomeText h1 {
	font-family: Chelsea Market;
	font-size: 3.75em;
}
.welcomeBody {
	margin-left: -5vw;
	width: 20vw;
}
.welcomeBody p {
	font-family: Chelsea Market;
	font-size: 1.25em;
}