@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Chelsea%20Market");

.tab {
	font-family: Montserrat;
	font-size: 20px;
	text-align: center;
	padding-top: 2vw;
	transition-duration: 0.7s;
	width: 20vw;
	margin-left: 0;
}
.tab:hover {
	background-color: #E9C46A;
	transition-duration: 0.7s;
}
/*
	COLOR SCHEME:

	#264653 -> dark green (charcoal)
	#2A9D8F -> medium green (persian green)
	#E9C46A -> yellow (maize crayola)
	#F4A261 -> rusty orange (sandy brown)
	#E76F51 -> reddish orange (terra cotta)
*/